<mat-toolbar color="primary">
    <div fxFlex fxLayout>
        <div fxHide.gt-sm>  
            <button mat-icon-button (click) = "onToggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>  
        <div>Transaction App</div>
        <div *ngIf = "!isLoggedIn()" fxFlex fxLayoutAlign="flex-end center" fxHide.sm>
            <a mat-button (click) = "openLoginForm()">Login</a>
        </div>
        <div *ngIf = "isLoggedIn()" fxFlex fxLayoutAlign="flex-end center" fxHide.sm>
            <a mat-button (click) = "logout()" >Logout</a>
        </div>
    </div>
</mat-toolbar>