<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a *ngIf = "!isLoggedIn()"mat-list-item (click)="onSidenavClose(); openLoginForm()">
        <mat-icon>login</mat-icon> <span class="nav-caption">Login</span>   
    </a>
    <a *ngIf = "isLoggedIn()" mat-list-item (click)="onSidenavClose(); logout()">
        <mat-icon>logout</mat-icon> <span class="nav-caption">Logout</span>   
    </a>
</mat-nav-list>